

html {
	font-size: 10px;
	height: 100%
}

body {
	background: #ebebeb;
	height: 100%;
}

.wrapper{
	margin: auto;
	max-width: 1400px;
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background-color: #fafafa;
}
footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}


/*---------------------  HEADER ---------------------*/
nav {
  background-color: #07070b;
}
.navbar {
  min-height: 65px;
}
header .collapse {
  position: relative;
}
header .navbar-brand {
  position: absolute;
  top: -23px;
  left: 0;
  z-index: 99;
}
header .nav-item {
  font-size: 18px;
  font-family: Raleway-Regular;
  text-transform: uppercase;
  margin-right: 15px;
  position: relative;
}
header .nav-link {
  color: #fff;
  padding: 12px 18px;
  border-radius: 5px;
}
.border_nav {
  border-top: 3px solid #ff0036;
  border-bottom: 4px solid #ff0036;
  width: 25px;
  min-height: 66px;
  position: absolute;
  top: -6px;
  left: 38%;
  opacity: 0;
}
header .nav-item:hover .border_nav{
  opacity: 1;
}
.carousel-caption {
  bottom: 40%;
}
.carousel-caption h3{
  font-size: 30px;
  font-family: Raleway-Bold;
  color: #fff;
}
.carousel-caption p {
  font-size: 16px;
  font-family: Lato-Regular;
  color: #fff;
  margin-top: 30px;
}
.header_btn .btn{
  font-size: 18px !important;
  font-family: Raleway-Medium;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
  width: 36px !important;
  height: 36px !important;
}
.carousel-control-prev:hover .carousel-control-prev-icon{
  background: url("../img/svg/arrow_left _hover.png");
}
.carousel-control-next:hover .carousel-control-next-icon{
  background: url("../img/svg/arrow_right_hover.png");
}


/*--------------------- END HEADER ---------------------*/


/*---------------------  HEADER_SM ---------------------*/

/*стилизуем менюшку*/
.hidden-menu {
  display: block;
  position: fixed;
  list-style:none;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  width: 200px;
  background-color: rgba(38,38,38,.9);
  height: 100%;
  top: 0;
  left: -200px;
  transition: left .2s;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

/*скрываем инпут чекбокс*/
.hidden-menu-ticker {
  display: none;
}
/*общие стили значка-гамбургера, самого лэйбла*/
.btn-menu {
  color: #fff;
  padding: 2px;
  position: fixed;
  top: 5px;
  left: 5px;
  cursor: pointer;
  transition: left .23s;
  z-index: 3;
  width: 20px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
/*общие стили полосок*/
.btn-menu span {
  display: block;
  height: 2px;
  background-color: red;
  margin: 5px 0 0;
  transition: all .1s linear .23s;
  position: relative;
}
/*прибиваем к верху лэйбла первую полоску*/
.btn-menu span.first {
  margin-top: 0;
}
/*при нажатии на бургер двигаем его и делаем другой фон бургеру*/
.hidden-menu-ticker:checked ~ .btn-menu {
  left: 160px;
  background-color: rgba(38,38,38,.1);
}
/*и дальше стили меняющие бургер, двигающие менюшку по событию - нажатие на значек бургера*/
.hidden-menu-ticker:checked ~ .hidden-menu {
  left: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.first {
  -webkit-transform: rotate(45deg);
  top: 7px;
  background-color: #fff;
}
.hidden-menu-ticker:checked ~ .btn-menu span.second {
  opacity: 0;
}

.hidden-menu-ticker:checked ~ .btn-menu span.third {
  -webkit-transform: rotate(-45deg);
  top: -7px;
  background-color: #fff;
}

.header_sm {
  color: #fff;
  text-align: center;
}
.header_sm h1 {
  font-size: 30px;
  font-family: Raleway-Bold;
}
.header_sm p {
  font-size: 11px;
  font-family: Lato-Regular;
}
.header_sm figure {
  position: relative;
}
.header_sm figcaption{
  position: absolute;
  top: 27%;
}
.header_sm_btn .btn {
  font-size: 10px;
  font-family: Raleway-Medium;
}
.hidden-menu {
  text-align: left;
}
.hidden-menu li {
  margin-top: 5px;
}
.hidden-menu a{
  font-size: 18px;
  font-family: Raleway-Regular;
  color: #fff;
  text-transform: uppercase;
}
.hidden-menu a:hover {
  color: #a1a1a1;
  border-bottom: 1px solid #ff0036;
}

/*--------------------- END HEADER_SM ---------------------*/


/*--------------------- ABOUT ---------------------*/
.about .card {
  box-shadow: none !important;
}
.about .accordion h5:hover button {
  color: red !important;
  text-decoration: none !important;
}
.about .accordion h5 button[aria-expanded="true"] {
  color: red !important;
  text-decoration: none !important;
}
.about .accordion h5 button[aria-expanded="true"]::before{
  content: '\f056';
  font-family: "fontawesome";
  padding-right: 5px;
}
.about .accordion h5 button[aria-expanded="false"] {
  text-decoration: none !important;
}
.about .accordion h5 button[aria-expanded="false"]::before{
  content: '\f055';
  font-family: "fontawesome";
  padding-right: 5px;
}

.about h2, #features_cr h2 , #team_cr h2,#plans_bestseller h2{
  text-align: center;
  font-size: 30px;
  font-family: Raleway-Bold;
}
.about h3, #features_cr h3,#plans_bestseller h3, #clients_cr h3 , #team_cr h3,#services_cr h3{
  text-align: center;
  font-size: 16px;
  font-family: Lato-Bold;
  margin-top: 40px;
}
.about p {
  color: #505050;
  font-size: 16px;
  font-family: Lato-Regular;
}
.about .card-header {
  background-color: #f7f7f7 !important;
  border: 1px solid #dedede;
  margin-bottom: 0.1px !important;
  padding: 0;
}
.about .card-body {
  border: 1px solid #dedede;
  border-top: none;
  margin-top: 0;
  color: #505050;
  font-size: 14px;
  font-family: Lato-Regular;
}
.about .card-header h5 .btn {
  text-transform: none;
  font-size: 20px;
  font-family: Raleway-Medium;
  margin: 0;
  padding: 15px 0 15px 15px !important;
  border-left: 1px solid #dedede;
}
.about .card .fa {
  float: left;
  padding: 24px;
}
.clip-polygon {
  clip-path: polygon(35% 0%, 65% 0%, 80% 50%, 65% 100%, 35% 100%, 20% 50%);
}
.about .about_tehnology {
  margin: 100px 0;
}
.about .about_tehnology h5 {
  margin-top: 25px;
  font-size: 20px;
  font-family: Raleway-Medium;
  color: #262626;
}
.about .about_tehnology p {
  margin-top: 25px;
  font-size: 16px;
  font-family: Lato-Regular;
  color: #505050;
}
.about_tehnology_img .img_hover{
  display: none;
}
.about_tehnology_img:hover .img_normal{
  display: none;
}
.about_tehnology_img:hover .img_hover {
  display: inline;
}

/*--------------------- END ABOUT ---------------------*/


/*--------------------- PORTFOLIO ---------------------*/
#portfolio_cr {
  border-top: 1px solid #262626;
  background: #262626;
}
#portfolio_cr h2, #clients_cr h2, #services_cr h2 {
  text-align: center;
  font-size: 30px;
  font-family: Raleway-Bold;
  color: #fff;
  margin-top: 90px;
}
#portfolio_cr .scrol_portfolio{
  margin-top: 90px;
}
#portfolio_cr ul li a{
  font-size: 16px;
  font-family: Lato-Bold;
  color: #a4a4a4;
}
#portfolio_cr ul li a[aria-selected="true"]{
  color: #ff0036;
}
.portfolio_gallery, .features_info {
  max-width: 1400px;
  margin: auto;
}

/*--------------------- END PORTFOLIO ---------------------*/


/*--------------------- FEATURES ---------------------*/
#features_cr {
  padding: 20px;
}
#features_cr h2, #team_cr h2,#plans_bestseller h2{
  margin-top: 90px;
}
#features_cr h4 {
  font-size: 16px;
  font-family: Raleway-Medium;
  text-transform: uppercase;
  margin-top: 30px;
  padding: 15px 0;
  border: 1px solid #e7e7e7;
}
#features_cr h4:hover {
  color: #fff;
  background: #fd1717;
}
#features_cr h4:hover .features_img_active{
  display: none;
}
#features_cr h4:hover .features_img_hover{
  display: inline !important;
}
.features_img {
  padding: 0 20px;
}
/*--------------------- END FEATURES ---------------------*/


/*--------------------- CLIENTS ---------------------*/
#clients_cr {
  background: #272727;
  padding: .1px;
}
#clients_cr h3, #services_cr h3{
  color: #a4a4a4;
}
.clients_info, .scrol_client, .team_scroll, .skills_info {
  margin-top: 100px;
}
#clients_cr h4, .services_info h4{
  font-size: 20px;
  font-family: Raleway-Medium;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.clients_info p, .services_info p {
  font-size: 16px;
  font-family: Lato-Regular;
  color: #a4a4a4;
}
.clients_info ul{
  margin-top: 35px;
}
#clients_cr ul li {
  margin: 0 10px;
}
#clients_cr ul li a[aria-selected="true"] {
  background: red!important;
}
#clients_cr ul li a[aria-selected="false"] {
  background: #fff;
}
#clients_cr h5 {
  font-size: 16px;
  font-family: Raleway-Bold;
  color: red;
  text-transform: uppercase;
}
.client_hexagon {
 clip-path: polygon(25% 30%, 75% 30%, 100% 60%, 75% 90%, 25% 90%, 0% 60%);
}
/*--------------------- END CLIENTS ---------------------*/


/*--------------------- TEAM ---------------------*/
.black_hover {
  width: 100%;
  position: relative;
}
.black_hover span {
  width: 100%;
  max-width: 270px;
  height: 100%;
  position: absolute;
  top: 0;
  
  opacity: 0;
  transition: all 1s ease-out;
  background: #414141;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.black_hover span:hover {
  opacity: .9;
}
.team_wrapper:hover h4{
  color: red;
}
.team_wrapper:hover {
  border: 1px solid #505050;
}
.team_wrapper {
  border: 1px solid #d2d2d2;
}
.team_wrapper h4, .skills_info h4{
  font-size: 20px;
  font-family: Raleway-Medium;
  text-transform: uppercase;
  color: #505050;
}
.team_wrapper h5, .skills_info h5{
  font-size: 16px;
  font-family: Lato-Regular;
  color: #505050;
}
.our_skills {
  margin-bottom: 100px;
}
/*--------------------- END TEAM ---------------------*/


/*--------------------- SERVICES ---------------------*/
#services_cr {
  padding: .1px;
  background: #272727;
}
.services_info {
  margin-top: 50px;
}
.services_info h4 {
  text-align: left;
}
.services_info p {
  margin-top: 20px;
  padding: 15px;
  background: #343434;
}
.services_info:hover  p{
  background: #3d2329;
  color: #fff;
}
.services_active, .services_hover {
  margin-right: 30px;
}
.services_info:hover .services_active{
  display: none;
}
.services_info:hover .services_hover {
  display: inline !important;
}


/*--------------------- END SERVICES ---------------------*/













/*------------- MEDIA -----------------*/
@media (max-width : 1200px) {
  header .container_navbar {
    max-width: 1100px !important;
  }
  header .nav-item {
    font-size: 15px;
  }


}

@media (max-width : 1000px) {
  .header_lg {
    display: none;
  }
  .header_sm {
    display: block !important;
  }
  .slider_about {
    margin-top: 15px;
  }
  .portfolio_gallery {
    flex-wrap: nowrap;
  }
  .header_sm {
    width: 100%;
  }
  .header_sm figcaption {
    position: absolute;
    top: 12%;
    left: 2%;
    width: 95%;
  }
  .features_img {
    padding: 5px;
  }

@media (max-width : 900px) {
  .features_img {
    padding: 0;
  }
  .features_info h4{
    font-size: 14px;
  }
  .clients_img, .scrol_client, .team_scroll, .team_wrapper, .skills_info {
    margin-top: 40px;
  }
}

@media (max-width : 600px){
  .features_info, .clients_img {
    flex-wrap: nowrap !important;
  }
  .team_info, .skills_info{
    width: 50%;
  }
  .features_img {
    display: none;
  }
  .features_info h4 {
    text-align: center;
  }


}

@media (max-width : 480px) {
  .header_sm {
    width: 100%;
  }
  .header_sm figcaption {
    position: absolute;
    top: 12%;
    width: 90%;
  }
  .header_sm_info .big_info, .features_img {
    display: none;
  }
  .header_sm_info .small_info {
    display: inline !important;
  }
  .header_sm_btn .btn {
    font-size: 8px;
    padding: .5rem 1.5rem !important;
  }
  .header_sm figcaption p{
    margin: 0;
  }
  .about p, #features_cr h4, .team_wrapper h5, .clients_info p, .about .about_tehnology p, .services_info p{
    font-size: 11px;
  }
  .about .card-body {
    font-size: 11px;
    padding: 5px;
  }
  h2, .header_sm h1 {
    font-size: 17px !important;
    margin-top: 40px !important;
  }
  h3, #clients_cr h4, .team_wrapper h4, .about .card-header h5 .btn, .about .about_tehnology h5 {
    font-size: 14px !important;
    margin-top: 15px !important;
  }
  .about .about_tehnology {
    margin: 50px 0;
  }
  #portfolio_cr ul li a, #clients_cr h5, .services_info h4{
    font-size: 14px;
  }
  #portfolio_cr .scrol_portfolio, .clients_info, .clients_img {
    margin-top: 40px;
  }
  .about_tehnology .col-sm-6 {
    width: 50%;
  }
  .features_info, .portfolio_gallery, .clients_img {
    flex-wrap: nowrap !important;
  }
  #features_cr h4 {
    margin-top: 5px;
    text-align: center;
  }
  .team_wrapper, .skills_info, .services_info {
    margin-top: 15px;
  }
  .our_skills{
    margin-bottom: 40px;
  }
  .team_info {
    padding: 0 5px !important;
  }
}